main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 82px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 200px;
  min-height: 350px;
  margin: 10px;
}

img {
  border-radius: 5px 5px 0 0;
  height: 200px;
  width: 100%;
}

.container {
  padding: 2px 16px;
}

.places-map {
  width: 100%;
  height: 360px;
  background-color: #ccc;
}

.loading {
  width: 100px;
  position: absolute;
  top: 200px;
  margin: 0 auto;
  z-index: 9999;
  background: #c4c4c4;
  padding: 20px;
  font-weight: bold;
  border-radius: 7px;
  border: 2px solid #444;
}